.cart img{
    width: 270px;
    height: 195px;
    border-radius: 5px;
    border: 2px solid rgba(126, 59, 42, 0.676);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}


.cart .prod-row {
    display:flex;
    margin:10px 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}