
.product {
    border: 1px solid grey;
    display: inline-block;
    width: 240px;
    height: 360px;
    margin: 5px 10px;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}
.product:hover{
    border-color:red;
}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}
.product img {
    width: 220px;
    height: 195px;
}